<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>