<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/elim.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var red = "/static/img/red.jpg";
        var green = "/static/img/green.jpg";
        function animate(items) {
            console.log(items);
            $(document).ready(function () {
                var audioElement = document.createElement('audio');
                audioElement.setAttribute('src', '/static/music/sound.mp3');
                var audioDie = document.createElement('audio');
                audioDie.setAttribute('src', '/static/music/die.wav');
                audioElement.play()
                setTimeout(function () {
                    $.each(items, function (index, val) {
                    var i = Object.keys(items).indexOf(index);
                    setTimeout(function () {
                        $("p").text(index);
                        $("p").show();
                        if (!val) {
                            $("img").attr("src", green);
                        }
                        else {
                            $("img").attr("src", red);
                        }
                        $("img").hide();
                        setTimeout(function () {
                            $("p").hide();
                            $("img").toggle(1000);
                            if(val){
                                audioDie.play()
                            }
                            if (i == Object.keys(items).length - 1){
                                setTimeout(function () {
                                    audioElement.pause();
                                    $("img").hide();
                                },2500)
                            }
                        }, 12500);

                    }, (i) * 15000);
                });
                }, 5000)
            })
        }
    </script>
</head>
<body>
<script lang="js">
    animate({{ info|safe }});
</script>
<p></p>
<img src="">

</body>
</html>
