{% extends "base.html" %}

{% block content %}
    <h1>Elimination</h1>
    <form action="" method="post" novalidate>
    <p>{{ form.players }}</p>
    <p>{{ form.submit }}</p>
    </form>
{% endblock %}