body{
    background: black;
}
p
{
    font-size: 100px;
    text-align: center;
    /*margin-bottom: 100%;*/
    margin-top: 20%;

    color: aliceblue;
    font-style: italic;
    font-weight: bold;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

h6{
    color: aliceblue;
}
img
{
    width: 100%;
    height: 100%;
}